{{ $data := index site.Data site.Language.Lang }}

{{ if $data.feature.feature.enable }}
{{ with $data.feature.feature }}
{{"<!-- feature -->" | safeHTML}}
{{ $var := "" }}
{{ if .hide_on_mobile }}
    {{ $var = "hideonmobile" }}
{{ end }}
<section class="section section-bg about-2 padding-0 {{ $var }}" id="feature">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 padding-0 vlad-image" style="background-image: url('{{ .image_webp | absURL }}'); background-size: cover; background-position: top center; background-repeat: no-repeat; min-height: 460px;">
			<!-- this image is for trigger this section fallback background image -->
			<img style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .image | absURL }})'" src="{{ .image_webp | absURL }}" />
			</div>
			<div class="col-lg-6">
				<div class="content-block">
					<!-- <h2>{{ .title | markdownify }}</h2>-->
					 					     
					     <h3></br><p> Welcome! I am Vlad, astrologer, <span title="I trained as a transformational coach with Animas Coaching.">UK trained coach</span>, and intuitive human with a big <span aria-hidden="true" class="fa fa-lg fa-heart fa-anim-vertical-shake" style="color:#FF0064"></span></b></h3>
					     </br>I am also a person who strongly believes there is no such thing as a "one-size-fits-all". I will not tell you my life story, but I will say that my life has led here. A place where I understand the value of a wise and empathetic ear to my individuality and the needs arising from it.
					     The value of being honored as a unique individual with unique needs and requirements in order to live and thrive.
					     </br></br>Your journey will surely be different from mine, so you might wonder what I can do for you. I work with numerous people who are struggling with achieving lasting satisfaction in a life dominated by work. 
					     Not to mention <b>all the things we run away from</b>: emotions, pain, darkness, feeling lonely, feeling overwhelmed by the speed of modern life or by the amount of love in our hearts that we are unable to share.					     If you resonate with this I invite you to join me on a discovery journey sprinkled with breakthroughs, awe, and satisfaction, eventually rewarded by a definitive step forward in your life and an increase in your personal authority. 
					     </br></br><u>My promise to you</u> is to help you realize that the person you thought you are is no match to the person you truly are 😉

					<div class="row">
						{{ range .feature_item }}
						<div class="col-lg-6">
							<div class="media">
								{{with .icon}}
								<div class="align-self-start mr-3">
									<i class="{{ . }}"></i>
								</div>
								{{ end }}
								<div class="media-body">
									<h4 class="media-heading">{{ .title | markdownify }}</h4>
									<p>{{ .content | markdownify }}</p>
								</div>
							</div>
						</div>
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /feature -->" | safeHTML}}
{{ end }}
{{ end }}
