{{ $data := index site.Data site.Language.Lang }}

{{ if $data.feature.feature.enable }}
{{ with $data.feature.feature }}
{{"<!-- feature -->" | safeHTML}}
{{ $var := "" }}
{{ if .hide_on_mobile }}
    {{ $var = "hideonmobile" }}
{{ end }}
<section class="section section-bg about-2 padding-0 {{ $var }}" id="feature">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<div class="content-block">
					<!-- <h2>{{ .title | markdownify }}</h2>-->
					     Welcome <span aria-hidden="true" class="fa fa-lg fa-heart fa-anim-vertical-shake" style="color:#FF0064"></span> </br>			     
					     <h3></br><p>  
					     You have entered a space nurtured by the multimodal arts of Coaching, Astrology, and <span title="dhamma.org">Vipassana</span> Meditation.</h3>
					     </br>I'm Vlad, the guy blending in with the wall there, and it is my pleasure to host you! </br> Here, your senses and individuality 
						 are held in the highest esteem. My experience is grounded in diversity and the awareness of what it means to be human. Rest and recharge as your needs benefit from
						 a holistic exploration and activation through conscious living. </br> If you are curious about my work, you can contact me for a <b><a style="color:#FF9F1C;" href="https://calendly.com/misterclarity/30min">free intro session</a></b>.
					     
					<div class="row">
						{{ range .feature_item }}
						<div class="col-lg-6">
							<div class="media">
								{{with .icon}}
								<div class="align-self-start mr-3">
									<i class="{{ . }}"></i>
								</div>
								{{ end }}
								<div class="media-body">
									<h4 class="media-heading">{{ .title | markdownify }}</h4>
									<p>{{ .content | markdownify }}</p>
								</div>
							</div>
						</div>
						{{ end }}
					</div>
				</div>
			</div>
			<div class="col-lg-6 vlad-image padding-0" style="background-image: url('{{ .image_webp | absURL }}');">
				<!-- this image is for trigger this section fallback background image -->
				<img style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .image | absURL }})'" src="{{ .image_webp | absURL }}" />
			</div>
		</div>
	</div>
</section>
{{"<!-- /feature -->" | safeHTML}}
{{ end }}
{{ end }}
