{{ $data := index site.Data site.Language.Lang }}

{{ if $data.feature.feature.enable }}
{{ with $data.feature.feature }}
{{"<!-- feature -->" | safeHTML}}
{{ $var := "" }}
{{ if .hide_on_mobile }}
    {{ $var = "hideonmobile" }}
{{ end }}
<section class="section section-bg about-2 padding-0 {{ $var }}" id="feature">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<div class="content-block">
					<!-- <h2>{{ .title | markdownify }}</h2>-->
					     Welcome	</br>			     
					     <h3></br><p>  
					     I am Vlad, intuitive human with a big <span aria-hidden="true" class="fa fa-lg fa-heart fa-anim-vertical-shake" style="color:#FF0064"></span>, astrologer, <span title="I trained as a transformational coach with Animas Coaching.">UK trained coach</span>, swing dancer, and <span title="dhamma.org">Vipassana</span> meditator.</h3>
					     </br>I'm also a person who understands that <b>there is no such thing as a "one-size-fits-all"</b>. Knowing this helps me guide people from feeling lost to feeling empowered, from being stuck to making progress, from reacting to making conscious choices.
					     As a guide and as a person, my aim is to honor people as individuals with unique needs. Doing so helps everyone grow and find their truth, including me.
					     </br></br>Your journey is unique, so you might wonder if a stranger can be of much help to you. Guidance and coaching are partnerships rooted in reality. They allows us to connect as individuals who are either dedicated to a path, or looking for their path. So far, I have partnered up with seekers of lasting satisfaction, 
					     creators of meaning, collectors of value, nurturers of life, fighters for progress, and souls experiencing loneliness, the overwhelming speed of modern life, and the pressure of unshared love in their hearts.
					     </br></br>If you feel so inclined, I invite you on a discovery journey full of exciting challenges, breakthroughs, and satisfaction. By engaging consciously with this process you will be rewarded with increased strength as well as a definitive step forward in life. 
					     </br></br>Wherever you find yourself in life, <u>my promise to you</u> is to help you find and grow your strengths through fun and creativity.
					     </br>P.S. My bike in some of the pictures stands as a reflection of my values: freedom, <span title="She's frugal and light, with only 125CC.">agility</span>, and self-determination.</br></br>

					<div class="row">
						{{ range .feature_item }}
						<div class="col-lg-6">
							<div class="media">
								{{with .icon}}
								<div class="align-self-start mr-3">
									<i class="{{ . }}"></i>
								</div>
								{{ end }}
								<div class="media-body">
									<h4 class="media-heading">{{ .title | markdownify }}</h4>
									<p>{{ .content | markdownify }}</p>
								</div>
							</div>
						</div>
						{{ end }}
					</div>
				</div>
			</div>
			<div class="col-lg-6 vlad-image padding-0" style="background-image: url('{{ .image_webp | absURL }}');">
				<!-- this image is for trigger this section fallback background image -->
				<img style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .image | absURL }})'" src="{{ .image_webp | absURL }}" />
			</div>
		</div>
	</div>
</section>
{{"<!-- /feature -->" | safeHTML}}
{{ end }}
{{ end }}
