<div class="cta">
    <a class="cta-btn"><i class="ti-plus"></i></a>
    <div class="popup text-left">
      <div class="popup-header d-flex justify-space-between">
        <h5 class="">A great <span class="green">birthday present!!</span></h5>
        <a class="cta-close ml-auto d-flex align-items-start"><i class="ti-close"></i></a>
      </div>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt </p>
      <a class="btn-main text-white cursor-pointer" href="mailto:coach@misterclarity.com"><i class="ti-send"></i>Contact now</a>
    </div>
  </div>